#!/bin/sh -e

if [ ! -d /opt/*base ]; then
  cd /home/ec2-user
  rpm -i couchbase-server-enterprise-4.6.0-centos6.x86_64.rpm
  /opt/@@PKG_KIND@@/bin/cbenable_core_dumps.sh /tmp
  sleep 30
  /etc/init.d/@@PKG_KIND@@-server stop
  mkdir -p /mnt/ebs/db
  chown @@PKG_KIND@@:@@PKG_KIND@@ /mnt/ebs/db
  mv /opt/@@PKG_KIND@@/var /mnt/ebs/db
  ln -s /mnt/ebs/db/var /opt/@@PKG_KIND@@/var
  chown -h @@PKG_KIND@@:@@PKG_KIND@@ /opt/@@PKG_KIND@@/var
  /etc/init.d/@@PKG_KIND@@-server start
  rm -f /var/lib/cloud/data/scripts/config-pkg
fi

