# Welcome

This EC2 instance was launched from a Couchbase published AMI,
with pre-installed server software:

  package: @@PKG_NAME@@

Your server software is installed into:

  software-path: /opt/@@PKG_KIND@@

It has been configured to store data and logs in an EBS volume
mounted at:

  data-path: /mnt/ebs/db

# Web Console

Your server's web console is available at:

  web-console-URL: http://HOST:8091

The web console's pre-configured Username is "Administrator" and the
pre-configured Password is the EC2 instance id.  The EC2 instance id
will look similar to "i-11111111", and is dynamically retrievable by
running the following command on the EC2 instance...

  curl http://169.254.169.254/latest/meta-data/instance-id

The EC2 instance id should be known only to you and AWS, and steps on
how to change your Password are described next.

# Configuring the first node

To configure the first node in your cluster, please first change your
web console password, by running the following command...

  /opt/@@PKG_KIND@@/bin/@@CLI_NAME@@ cluster-init \
    -c 127.0.0.1:8091 \
    -u Administrator -p OLD_PASSWORD \
    --cluster-init-password=NEW_PASSWORD

Your OLD_PASSWORD, as mentioned above, is your EC2 instance id.

# Configure Couchbase to use a DNS entry

***NOTE*** If the IP changes, an individual node will not
be able to identify its own configuration and other nodes
that it was clustered to will not be able to access it.

Please refer to the following page to configure Couchabse
to use a DNS entry:

http://www.couchbase.com/docs/couchbase-manual-2.0/couchbase-bestpractice-cloud-ip.html

You can now log into the web console to create new data buckets and
perform more configurations.  Please see the online server
documentation, at http://www.couchbase.org

## Joining the node to an existing cluster

You may also join your node to an existing cluster by using the Add
Server functionality in the web console.  Please see the online
documentation at http://www.couchbase.org for more information.

More Information
================

http://www.couchbase.com
http://www.couchbase.org/forums
mailto:support@couchbase.com

Copyright (c) 2012 Couchbase, Inc.
